* {
    margin: 0px;
    padding: 0px;
}

body {
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.container .header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(68, 68, 68);
    box-shadow: 0px 3px 6px black;
    z-index: 1;
    justify-content: center;
}

.container .header ul {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-left: 140px;
}

.container .header ul section {
    display: flex;
    height: 100%;
    width: 150px;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

.container .header ul section label {
    display: flex;
    text-decoration: none;
    font-family: 'Brygada 1918', serif;
    color: white;
    height: 100%;
    align-items: center;
    font-size: 50px;
}

.container .header ul section #foto {
    display: flex;
    height: 105px;
    margin-top: 10px;
}

.container .header ul section #foto:hover {
    height: 110px;
    transition: .5s;
}

.container .header ul section #foto2 {
    display: flex;
    height: 60px
}

.container .header ul section #foto2:hover {
    height: 68px;
    transition: .7s;
}

.container .box {
    display: flex;
    background-color: rgb(28, 28, 28);
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.container .box .imagem {
    display: flex;
    position: static;
    width: 80%;
    height: 85%;
    background-image: url(Referencias/Quiz2.jpg);
    background-size: cover;
    justify-content: end;
    align-items: end;
    opacity: 1;
    filter: blur(0px);
    z-index: 0;
}

.container .box .imagem button {
    display: flex;
    width: 150px;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
    right: 20px;
    background-color: rgb(68, 68, 68);
    color: white;
    border: 3px solid rgb(68, 68, 68);
    border-radius: 3px;
}

.container .box .imagem button:hover {
    background-color: black;
    border-color: white;
    transition: .4s;
}

.first {
    width: 100%;
    height: 102vh;
    background-color: rgb(50, 50, 50);
}

.first .second {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(Referencias/back_ideas/Quiz.jpg);
    background-size: cover;
    opacity: .5;
    filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.mid {
    display: flex;
    width: 100%;
    height: 0px;
    justify-content: center;
}

.mid .question {
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: black;
    color: white;
    border-radius: 5px;
    opacity: .85;
    position: relative;
    bottom: 620px;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
}

.mid .question h1 {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: end;
    justify-content: center;
}

.mid .question h3 {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.mid .question ul {
    display: flex;
    width: 60%;
    height: fit-content;
    justify-content: space-between;
}

.mid .question ul button {
    display: flex;
    width: 150px;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
    right: 20px;
    background-color: rgb(68, 68, 68);
    color: white;
    border: 3px solid rgb(68, 68, 68);
    border-radius: 3px;
}

.mid .question ul button:hover {
    background-color: black;
    border-color: white;
    transition: .4s;
}
