body{
    margin: 0px;
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.content .container .header{
    display: flex;
    width: 100%;
    height: 90px;
    background: linear-gradient(to top, rgba(255, 1, 1, 0) 0%,#242424 50%,#000000 100%);
    backdrop-filter: blur(1px);
}

.content .container .header ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px 0px;
    align-items: center;
    margin-right: 10px;
}

.content .container .header ul #logo{
    display: flex;
    height: 60px;
}

.content .container .header ul #config{
    display: flex;
    height: 50px;
    position: relative;
    bottom: 12px;
}

.content .container .header ul #menu{
    display: flex;
    height: 75px;
}

.content .container{
    display: flex;
    background-image: url(Referenccias/back_ideas/Race.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;  
    flex-direction: column;
    justify-content: space-between;
    box-shadow:     0px 5px 5px black;

}

.content .container .fixer{
    display: flex;
    width: 100%;
    height: 550px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content .container .fixer .data{
    display: flex;
    height: 55%;
    width: 100%;
    justify-content: end;
    margin-right: 70px;
}

.content .container .fixer .data .box{   
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.content .container .fixer .data .box .text li{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    margin: 10px;
    color: white;
    align-items: center;
}

.content .container .fixer .data .box .text li h1,
.content .container .fixer .data .box .text li h2{
    display: flex;
    height: 10px;
}

.content .container .fixer .row .skip{
    display: flex;
    width: 340px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

.content .container .fixer .row .skip .ball {
    display: flex;
    background-color: 
    white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.content .container .fixer .row .skip .ball .box1{
    display: flex;
    background-color: black;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    padding: 3px;
}

.content .container .fixer .row .skip .Erro{
    display: flex;
    background-color: 
    white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
}

.content .container .fixer .row .skip img{
    display: flex;
    height: 35px;
}

.infos {
    display: flex;
    height: 30vh;
    justify-content: center;
    margin-top: 20px;
}

.infos .img{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.infos .img img{
    display: flex;
    width: 600px;
    height: 160px;
}

.infos .img .move,
.infos .img .move2{
    display: flex;
    height: 12px;
    width: 100%;
}

.infos .img .move .line,
.infos .img .move2 .line2{
    display: flex;
    background-color: black;
    height: 100%;
    width: 43%;
    border-radius: 10px 0px;
}

.infos .img .move .line{
    margin-left: 8%;
}

.infos .img .move2{
    justify-content: flex-end;
}

.infos .img .move2 .line2{
    margin-right: 5%;

}

.movies{
    display: flex;
    margin: 0px;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    box-shadow: 0px -3px 10px black;
}

.movies .wall{
    width: 100%;
    height: 70vh;
}

.movies .wall img {
    width: 100%;
    
}

.movies .line1,
.movies .line2{
    display: flex;
    width: 100%;
    margin: 0px;
}

.movies .line1 img,
.movies .line2 img{
    display: flex;
    width: 25%;
    height: 400px;
}

.movies .box{
    display: flex;
    background-color: black;
    width: 100%;
    height: 105vh;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.movies .box img#robs{
    display: flex;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border: 5px outset rgb(59, 146, 165);
}

.movies .box img{
    display: flex;
    width: 5%;
    height: 6%;
}

.block{
    display: flex;
    height: 40vh;
    width: 100%;
    background-color: rgb(119, 119, 255);
    justify-content: center;
    align-items: center;
}

.block .myself img{
    display: flex;
    width: 100px;
    height: 140px;
    border-radius: 50%;
}





